---
export interface Props {
  content: {
    id: string;
    title: string;
    source_name: string;
    source_url: string;
    description: string;
    tags: string[];
  };
}

const {
  content: { id, title, source_name, source_url, description, tags },
} = Astro.props as Props;
---

<li id={`bookmark-${id}`} box-="square" class="p-4 mb-4">
  <div class="flex justify-between items-start gap-4 mb-2">
    <a
      href={source_url}
      rel="noopener noreferrer"
      target="_blank"
      class="text-blue-400 hover:underline font-semibold"
    >
      {title}
    </a>
    <span class="text-gray-500 flex-shrink-0 text-sm">#{id}</span>
  </div>

  <div class="flex justify-between items-center mb-3 text-sm">
    <span class="text-yellow-500">@{source_name}</span>
    <div class="flex gap-2">
      {
        Object.values(tags).map((item) => {
          return <span class="text-cyan-400">#{item}</span>;
        })
      }
    </div>
  </div>

  <p class="text-gray-300">{description}</p>
</li>
