---
import { getCollection, render } from "astro:content";
import LayoutWork from "../../layouts/LayoutWork.astro";

export async function getStaticPaths() {
  const items = await getCollection("work");
  return items.map((item) => ({
    params: { slug: item.id },
    props: { item },
  }));
}

const { item } = Astro.props;
const { Content } = await render(item);

const content = {
  title: item.data.client,
};
---

<LayoutWork content={content}>
  <header box-="square" class="p-4 mb-8">
    <div class="mb-2">
      <span style="color: var(--foreground0);">$ cat</span>
      <span class="ml-2" style="color: var(--foreground2);">./work/{item.id}</span>
    </div>
    <h1 class="!mt-2 !mb-2">{item.data.client}</h1>
    <div class="text-sm" style="color: var(--foreground1);">
      <span style="color: var(--foreground0); font-weight: 600;">{item.data.date}</span>
      <span class="mx-2">|</span>
      <span>{item.data.location}</span>
    </div>
  </header>

  <Content />
</LayoutWork>
