---
import HtmlHead from "../components/_globals/HtmlHead.astro";
import Header from "../components/_globals/header/Header.astro";
import Footer from "../components/_globals/footer/Footer.astro";

export interface Props {
  content: {
    title: string;
    date: string;
    excerpt: string;
    categories: string[];
  };
}

const {
  content: { title, date, excerpt },
} = Astro.props as Props;

const objectDate = new Date(date);
const [day, month, year] = [
  objectDate.getDate(),
  objectDate.toLocaleString("default", { month: "long" }),
  objectDate.getFullYear(),
];
---

<!DOCTYPE html>
<html lang="en">
  <HtmlHead title={title} />

  <body>
    <Header />

    <div class="container outer">
      <article class="prose prose-base">
        <header>
          <h1>{title}</h1>
          <span class="italic">{day} {month} {year}</span>
        </header>

        <div id="excerpt" class="text-lg font-semibold mt-4 mb-4">
          {excerpt}
        </div>

        <slot />
      </article>
    </div>

    <Footer />
  </body>
</html>
